<h2>Sistema de aluguel de jogo</h2>

<p>Selecione opção abaixo: </p>

<ul>
  <li><%= link_to 'Jogo', 'jogos#index' %></li>
  <li><%= link_to 'Cliente', 'clientes#index' %></li>
  <li><%= link_to 'Aluguel', 'aluga_jogos#index' %></li>
</ul>
